
.header{
    position: sticky;
    top:0;
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: black;
    color: white;


}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 40px;
}

.h-links{
    display: flex;

}

.h-links ul li{
list-style: none;
display:inline-block;
font-size:18px;
}

.h-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
}